<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJNBkQH-yk59eFk3Sf8kxyenzYWKXoAUg</string>
	<key>GCM_SENDER_ID</key>
	<string>279911107616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minalChatApp</string>
	<key>PROJECT_ID</key>
	<string>minimalchat-ee060</string>
	<key>STORAGE_BUCKET</key>
	<string>minimalchat-ee060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279911107616:ios:91103c2b10cd5af69b0045</string>
</dict>
</plist>